
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.App{
  width:auto;
  overflow: hidden;
}
[theme=Light]{
  --background-color-primary: rgb(244, 225, 225);
  --background-color-nav: rgb(35, 39, 71);
  --color-primary:black;
  --background-color-form:rgb(244, 244, 247);
}

[theme=Dark]{
  --background-color-primary: rgb(35, 39, 71);
  --background-color-nav: rgb(36, 37, 38);
  --color-primary: white;
  --background-color-form:rgb(80, 84, 111);

}


.header{
  background-color:var(--background-color-primary);
  height: 45rem;
  filter: blur(0px);
  
  
}

h2{
  color:var(--color-primary);
  margin: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 150px;
  text-align: center;
  position: relative;
  top: 200px;
  z-index: 1;
}

.nav{
  background-color: var(--background-color-nav);
  margin: 0px;

}
.navlist{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: end;
  gap: 20px;
  padding: 12px;
  margin: 0px;
  color:white;
}

.buttonL{
  padding: 4px,5px,5px,4px;
  border-radius: 20px;
  border-color: rgb(250, 251, 252);
  border-width: 1px;
  cursor: pointer;
  font-size: 50px;
  background: transparent;
  color: var(--color-primary);
  transition-duration: 1s;

  
}
.buttonS{
  padding: 5px,10px,5px,5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 50px;
  transition-duration: 1s;
}

.buttonL:hover{
   transform: scale(1.05,1.05);
  box-shadow: 0 0  12px black;

}

.buttonS:hover{
  background-color: aliceblue;
  transform: scale(1.1,1.1);

}


.Loginbutton{
  display: flex;
  gap: 10px;
  position: relative;
  top:15rem;
  justify-content: center;
  z-index: 1;
  margin: 0px;
}
.image{
  aspect-ratio: 3/4;
  position: absolute;
  top:33rem;
  right: -300px;
  width: 20%;
  height: 14rem;
  background-blend-mode:screen;
  animation: cart 8s infinite 2s;
  overflow: hidden;
  
}

.fashion{
  object-fit: cover;
  width: 50%;
  aspect-ratio: 16/9;
  height: 30rem;
  object-position: center;
  
}

@keyframes cart {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-600%);  }
}
body {
  overflow-x: hidden;
}

.unleash
{
  position: absolute;
  top: 55rem;
  color: white;
  font-size: 10rem;
  
}
.FASHION{
  margin: 0px;
}

.LoginForm{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width:25rem;
  background-color: var(--background-color-form);
  padding: 0px 20px 20px 20px;
  justify-content: center;
  align-items:stretch;
  border-radius: 30px;
  position: fixed;
  top:40%;
  left: 35%;
  z-index: 2;
  opacity: 95%;
}

.headingL{
  text-align: center;
}

.fa-sharp{
  position: relative;
  right:-95%;
  top:30px;
  margin: 0px;
  cursor:pointer;
}

.fa-sharp:hover{
  color: rgb(105, 103, 103);
}
h3{
  margin: 0px;
  font-size: 30px;
  color:var(--color-primary);
}
.subButton{
  border-radius: 15px;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 15px;
  background-color: rgb(156, 160, 163);
}
.subButton:active{
  background-color: rgb(248, 244, 244);
}
.textbox{
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0.5px;
}
