
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');

body{
  background-color: var(--background-color-body);
}
.App{
  width:auto;
  
}
[theme=Light]{
  --background-image-primary:linear-gradient(to right ,rgb(156, 245, 152),rgb(204, 238, 111));
  --background-color-nav: rgb(35, 39, 71);
  --color-primary:black;
  --background-color-form:rgb(244, 244, 247);
  --background-color-body: #ffffff;
  --background-color-cards:rgb(180, 177, 177);
  --background-color-corosel:rgb(246, 243, 243);
  --background-color-details:rgb(246, 243, 243);
  --background-color-hov:rgb(246, 243, 243);

}

[theme=Dark]{
  --background-image-primary:linear-gradient(to right ,rgb(235, 157, 235),rgb(127, 127, 235));
  --background-color-nav: rgb(36, 37, 38);
  --color-primary: white;
  --background-color-form:rgb(80, 84, 111);
  --background-color-body: rgb(64, 65, 70);
  --background-color-cards:rgb(103, 105, 109) ;
  --background-color-corosel:rgb(48, 47, 47);
  --background-color-details:rgb(46, 45, 45);
  --background-color-hov:rgb(52, 51, 51);


}
#body{
  background-color: var(--background-color-body);
}


.header{
  background-image:var(--background-image-primary);
  height: 30rem;
  filter: blur(0px);
  overflow-x: hidden;

  
}

h2{
  color:var(--color-primary);
  margin: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 10rem;
  text-align: center;
  position: relative;
  top: 120px;
  z-index: 1;
  overflow: hidden;
}

.nav{
  background-color: var(--background-color-nav);
  margin: 0px;
  display:flex;
  justify-content: space-between;
  position: static;
  width:100%;
}
.navlist{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  gap: 20px;
  padding: 12px;
  margin: 0px;
  color:white;
}

.buttonL{
  padding: 10px;
  border-radius: 20px;
  border-color: rgb(53, 59, 63);
  border-width: 1px;
  cursor: pointer;
  font-size: 30px;
  background: transparent;
  color: var(--color-primary);
  transition-duration: 1s;

  
}
.buttonS{
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  transition-duration: 1s;
}

.buttonL:hover{
   transform: scale(1.05,1.05);
  box-shadow: 0 0  12px black;

}

.buttonS:hover{
  background-color: aliceblue;
  transform: scale(1.1,1.1);

}


.Loginbutton{
  display: flex;
  gap: 10px;
  position: relative;
  top:10rem;
  justify-content: right;
  z-index: 1;
  margin-right: 10px;
}
.image{
  aspect-ratio: 3/4;
  position: absolute;
  top:18rem;
  right: -300px;
  width: 18%;
  height: 12rem;
  background-blend-mode:screen;
  animation: cart 8s infinite 2s;
   
}

.fashion{
  object-fit: cover;
  width: 50%;
  aspect-ratio: 16/9;
  height: 30rem;
  object-position: center;
  filter: brightness(90%);
  
}

@keyframes cart {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-600%);  }
}


.unleash
{
  position: relative;
  top: 0rem;
  color: white;
  font-size: 8rem;
  text-shadow: 5px 5px 10px #252525;
}
.FASHION{
  margin: 0px;
  text-align: center;
  justify-content: center;
}

.LoginForm{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width:25rem;
  background-color: var(--background-color-form);
  padding: 0px 20px 20px 20px;
  justify-content: center;
  align-items:stretch;
  border-radius: 30px;
  position:fixed;
  top:40%;
  left: 35%;
  z-index: 3;
  opacity: 95%;
  animation: enter 1s ;
  
  
}

.fa-bars{
  position: relative;
  top:0rem;
  font-size: 30px;
  margin: 10px;
  color: white;
}

@keyframes enter {
  0%{
    transform: translateY(-250%);
  }
}

.headingL{
  text-align: center;
}

.fa-sharp{
  position: relative;
  top:100px;
  margin: 0px;
  cursor:pointer;
  color: black;
}

.fa-sharp{
  color: rgb(158, 158, 158);
}
h3{
  margin: 0px;
  font-size: 30px;
}
.subButton{
  border-radius: 15px;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 15px;
  background-color: rgb(156, 160, 163);
}
.subButton:active{
  background-color: rgb(248, 244, 244);
}
.textbox{
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0.5px;
}
.theBut{
  position: relative;
}
.container{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor:pointer;
  text-decoration: none;
  background-color: var(--background-color-cards);
  box-shadow: 0 0 5px black;
}
.descat{
  color: var(--color-primary);
  text-align: center;
  text-decoration: none;

}
.catimg{
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 10px;
}
.category::-webkit-scrollbar{
  
  visibility: hidden;
  display: none;
  
}
.category{
  margin-top: 100px;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x:scroll;
  text-decoration: none;
  background-color: var(--background-color-body);
}
.body{
  padding: 0px;
  background-color: var(--background-color-cards);
}
.trend{
  position:absolute;
  top:35rem;
  font-size: 10rem;
  color: white;
  text-shadow: 5px 5px 10px #252525;
}
.dealDay{
  position:relative;
  top:0rem;
  background-color: var(--background-color-body);
  margin-top: 0px;
  display: grid;
  gap:5px;
  grid-template-columns: repeat(4,1fr);

}
.subhead{
  color:var(--color-primary);
  position: relative;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
}
.dealBox1{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 10px;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  grid-column-start: 1;
  grid-template-columns: 2;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor:pointer;
  
}
.dealBox2{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 10px;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  grid-column-start: 2;
  grid-template-columns: 3;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor:pointer;
  
}
.dealBox3{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 10px;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  grid-column-start: 3;
  grid-template-columns: 4;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor:pointer;
  
}
.dealBox4{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 10px;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  grid-column-start: 4;
  grid-template-columns: 5;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor:pointer;
  
}
.dealImg{
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 10px;
  width: 100%;
}
.dealDesc{
  font-size: 15px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  object-fit: contain;
}

.mobile{
  object-fit: cover;
  width: 100%;
  height: 30rem;
}
.mobiledesc{
  text-align: right;
  position:relative;
  top:-2.3rem;
  right: 10px;
  backdrop-filter:blur(10px) ;
  padding: 3px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  
}

a{
  text-decoration: none;
  color: var(--color-primary);
  border: none;
  outline: none;
  height: inherit;
}


.naveItem{
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  h2{
    color:var(--color-primary);
    margin: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 10px;
    z-index: 1;
    overflow: hidden;
  }
  .Loginbutton{
    display: flex;
    gap: 10px;
    position: relative;
    top:1.8rem;
    justify-content: center;
    z-index: 1;
    margin: 0px;
  }
  .trend{
    position:absolute;
    top:18rem;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 7px #252525;
  }
  .fashion{
    object-fit: cover;
    width: 50%;
    aspect-ratio: 16/9;
    height: 15rem;
    object-position: center;
    filter: brightness(90%);
    
  }
  .header{
    background-color:var(--background-color-primary);
    height: 10rem;
    filter: blur(0px);
    overflow-x: hidden;
  
  }
  .LoginForm{
    width:18rem;
    top:40%;
    left: 6%;
  }
  .buttonS{
    font-size: 20px;
  }
  .buttonL{
    font-size: 20px;
  }
  .image{
    aspect-ratio: 3/4;
    position: absolute;
    top:4.7rem;
    right: -10px;
    width: 18%;
    height: 5rem;
    background-blend-mode:screen;
    animation: cart 8s infinite 2s;
     
  }
  .dealDay{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    margin: 0px;
  
  }
  .dealBox1{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .dealBox2{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .dealBox3{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .dealBox4{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .mobile{
    height:10rem;
    margin-top: 10px;
  }
.mobiledesc{
  font-size: 1rem;
  top:151rem;
  right: 10px;
}
  
}