@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Quicksand&display=swap');
.descCategory{
    text-align: center;
    color: var(--color-primary);

}
.catul{
    margin: 10px;

    align-items: center;
}
.catli{
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin: 10px;
    width: 95%;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    align-items: stretch;
    justify-content: space-between;
    color:var(--color-primary);

}

.catImg{
    aspect-ratio: 3/4;
    height: 4rem;

    
}

.catli:hover{
    background-color: rgb(66, 68, 130);
}




.subcat{
    padding:10px;
    margin:10px;
    text-align: center;
    box-shadow: 0 0 3px black;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    animation: subcat 400ms ease-in;
    
}
li{
    list-style: none;
}
@keyframes subcat {
    0%{
        transform: scale(0.99,0.99);opacity: 0%;
    }
    100%{
        transform: scale(1,1);opacity: 100%;
    }
    
}


.heading{
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    background-color: var(--background-color-cards);
    border-radius: 10px;
    width:300px;
    gap:5px;
    
}
.subImg{
    aspect-ratio: 3/4;
    width:50%;
    height:200px;
    object-fit: cover;
}
.itemName{
    font-size: 20px;
    text-align: left;
    color: var(--color-primary);
    font-family: 'Maven Pro', sans-serif;

}
.button{
    display: flex;
    gap:5px;
}

.insideButton{
    border-radius: 5px;
    border: none;
    padding: 3px 5px 3px 5px;
    cursor:pointer;
}
.insideButton1{
    border-radius: 5px;
    border: none;
    padding: 3px 5px 3px 5px;
    cursor:pointer;
    background-color: rgb(139, 182, 222);

}
.insideButton:hover{
    background-color: rgb(167, 165, 165);
}
.insideButton:active{
    background-color: grey;
}
.insideButton1:active{
    background-color: grey;
}

.cartname{
    position: relative;
    top: 0px;
    text-align: center;
}
.ele{
    background-color: var(--background-color-form);
    background: var(--background-color-body);
    height: 90.1vh;
    padding:10px;
}
.cartDiv{
    list-style: none;
    position:fixed;
    z-index: 2;
    top:10rem;
    right:0;
    display:none;
    flex-direction: column;
    background-color: var(--background-color-form);
    padding:20px;
    overflow-y: scroll;
    height:20rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    filter: blur(10%);
    opacity: 90%;
    
  }

  .cartitem{
    padding:10px;
    box-shadow: 0 0 2px;
    text-align: left;
    gap:10px;
  }

  .bar{
    position: fixed;
    display: none;
    flex-direction: column;
    gap: 10px;
    top:0rem;
    left:0%;
    width:300px;
    z-index: 2;
    height: 100%;
    background-color: var(--background-color-cards);
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 0 2px black;
  }
  .barul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
  }



@media only screen and (max-width: 600px) {
   ul{
    position: relative;
    left:-30px;
   }
   li{
    align-content: center;
   }
}