
.Addnew{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25rem;
    gap:10px;
    background-color: var(--background-color-body);
    color: var(--color-primary);
    position: absolute;
    top:30%;
    left:35%;
}

.Mobilecard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    background-color: var(--background-color-cards);
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 10px;
}

.CardImage{
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

.Screen{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.CardTitle{
    font-size: 18px;
    margin-left: 3px;
    
}

.CardPrice{
    font-size:18px ;
    color: green;
    margin-left: 3px;
}

.Row3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}