.career{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(232, 232, 9);
    margin:10px;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    height: 90vh;
    background-image: url(https://www.freevector.com/uploads/vector/preview/28478/teamwork2.jpg);
}
.Cheading{
    font-size: 2rem;
    position: relative;
    top:0px;
    padding: 10px;
    text-overflow: clip;
    color: black;
}
.careercont{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 10px;
    background-color: var(--background-color-cards);
    ;
    width:30rem;
    margin: 10px;
    border-radius: 5px;
    width:18rem;
    z-index: 1;
    justify-content: space-between;
}
.jobtitle{
    font-size: 1rem;
    position:relative;
    top:0px;
    text-align: left;
}

.jd{
    text-align: left;
    margin: 0px;
}
.careerbutton{
    width: fit-content;
    background-color: rgb(181, 237, 91);
    cursor: pointer;
    border: none;
}
.careerbutton:active{
    background-color: aliceblue;
}
.careerbody{
    display: flex;
    flex-wrap: wrap;
}
.workimg{
    position: absolute;
    z-index: -0;
    object-fit: contain;
    width:45%;
    background-blend-mode:luminosity;
    margin: 20px;
}
.jobpost{
    width:fit-content;
    position:absolute;
    right:10px;
    cursor: pointer;
    z-index: 2;
}


.HRpannel{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: white;
    width:30rem;
    padding:10px;
    position: absolute;
    left:35%;
    z-index: 2;
    top:10rem;
    box-shadow: 0 0 10px;
    text-align: left;
    border-radius: 10px;
}
.JDInput{
    height: 20rem;
    text-align:left ;
    justify-items:flex-end;
}
.jobpostin{
    width: fit-content;
    margin:0px;
}

.Application{
    display: flex;
    flex-direction: column;
    width:30rem;
    gap:10px;
    background-color: aliceblue;
    padding: 10px;
    position: relative;
    left:30%;
    border-radius: 10px;
}
.subdiv{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content:space-between;
}